$default-font: "montserratF", sans-serif;

// colors
$white: #ffffff;

$blue: #68a9be;
$dark-blue: #4d2b84;

$light-grey: #b8c1c7;
$medium-grey: #eeeeee;
$grey: #999fa4;

$green: #37b6ae;
$red: #e84662;

$dark-text: #333e47;


